@using TeachLogistics.ViewModels
@model LoginViewModel
@{
	Layout = "~/Views/Shared/_LoginLayout.cshtml";
	ViewBag.Title = "Inicio de Sesión";
}
@section Styles{
	@Styles.Render("~/Content/plugins/iCheck/iCheckStyles")
}
<div class="middle-box text-center loginscreen animated fadeInDown">
	<div class="row">
		<div class="col-md-12">
			<svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="140px" height="163.989px" viewBox="0 0 140 163.989" enable-background="new 0 0 140 163.989" xml:space="preserve">
				<g>
					<polygon fill="#EA5264" points="29.716,30.508 69.356,8 110.285,30.937 69.356,55.845 	"/>
					<polygon fill="#20AF92" points="7.693,41.526 70,80.004 70,157.565 7.693,119.089 	"/>
					<polygon fill="#F7AC59" points="132.307,41.526 70,80.004 70,157.565 132.307,119.089 	"/>
				</g>
			</svg>
			<div class="title-app">
				<span class="teach">Teach</span> <span class="logistics">Logistics</span>
			</div>
		</div>
		<div class="col-md-12">
			<p>Inicie Sesión para ingresar.</p>
			@Html.Flash()
			@using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "m-t" }))
			{
				@Html.AntiForgeryToken()
				@Html.ValidationSummary(true, "", new { @class = "text-danger" })
				<div class="form-group">
					@Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
					@Html.TextBoxFor(m => m.Email, new { @class = "form-control required", @placeholder = "Correo Electrónico", aria_required = true, aria_invalid = true })
				</div>
				<div class="form-group">
					@Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
					@Html.PasswordFor(m => m.Password, new { @class = "form-control required", @placeholder = "Contraseña" })
				</div>
				<div>
					<label> @Html.CheckBoxFor(m => m.RememberMe, new { @class ="i-checks" }) ¿Recordar Sesión? </label>
					<button type="submit" class="btn btn-primary block full-width m-b">Iniciar Sesión</button>
				</div>
			}
		</div>
		<p class="m-t"> <small>Teach Logistics &copy; @DateTime.Now.Year</small> </p>
	</div>
</div>
@section Scripts {
	@Scripts.Render("~/plugins/iCheck")
	@Scripts.Render("~/bundles/Account/login")
}
