@model Tesis.Models.User

@{
    ViewBag.Title = "Detalle";
}

<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-sm-4">
    <h2>Usuarios</h2>
    <ol class="breadcrumb">
      <li>
        @Html.ActionLink("Índice", "Index")
      </li>
      <li class="active">
        <strong>Detalles</strong>
      </li>
    </ol>
  </div>
	<div class="col-sm-8">
		<div class="title-action">
			@Html.ActionLink("Volver al índice", "Index", null, new { @class = "btn btn-primary" })
		</div>
	</div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>Detalles de Usuario</h5>
        </div>
        <div class="ibox-content">
          <dl class="dl-horizontal">
            <dt>
              @Html.DisplayNameFor(model => model.Email)
            </dt>

            <dd>
              @Html.DisplayFor(model => model.Email)
            </dd>

            <dt>
              @Html.DisplayNameFor(model => model.FirstName)
            </dt>

            <dd>
              @Html.DisplayFor(model => model.FirstName)
            </dd>
            
            <dt>
              @Html.DisplayNameFor(model => model.LastName)
            </dt>

            <dd>
              @Html.DisplayNameFor(model => model.LastName)
            </dd>

            <dt>
              @Html.DisplayNameFor(model => model.IdCard)
            </dt>

            <dd>
              @Html.DisplayFor(model => model.IdCard)
            </dd>

            <dt>
              @Html.DisplayNameFor(model => model.Roles)
            </dt>
            
            <dd>
            @foreach (var role in ViewBag.Roles)
            {
              <text>@role</text>
            }
            </dd>
            @if (Model.Section != null) {
              <dt>
                @Html.DisplayNameFor(model => model.Section.Semester)
              </dt>

              <dd>
                @Html.DisplayFor(model => model.Section.Semester.Description)
              </dd>

              <dt>
                @Html.DisplayNameFor(model => model.Section)
              </dt>

              <dd>
                @Html.DisplayFor(model => model.Section.Number)
              </dd>
            }						
          </dl>
          @Html.ActionLink("Editar", "Edit", new { id = Model.Id }, new { @class = "btn btn-primary"})
          @Html.ActionLink("Volver al Índice", "Index", null, new { @class = "btn btn-white"})

        </div>
      </div>
    </div>
  </div>
</div>