@model Tesis.Models.Evaluation

@{
	ViewBag.Title = "Detalles";
}

<div class="row wrapper border-bottom white-bg page-heading">
	<div class="col-sm-4">
		<h2>Detalles</h2>
		<ol class="breadcrumb">
			<li>
				@Html.ActionLink("List", "Index")
			</li>
			<li class="active">
				<strong>Detalles</strong>
			</li>
		</ol>
	</div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
	<div class="row">
		<div class="col-lg-12">
			<div class="ibox float-e-margins">
				<div class="ibox-title">
					<h5>Detalles de Evaluación</h5>
				</div>
				<div class="ibox-content">
					<dl class="dl-horizontal">
						<dt>
							@Html.DisplayNameFor(model => model.Name)
						</dt>

						<dd>
							@Html.DisplayFor(model => model.Name)
						</dd>

						<dt>
							@Html.DisplayNameFor(model => model.Created)
						</dt>

						<dd>
							@Html.DisplayFor(model => model.Created)
						</dd>

						<dt>
							@Html.DisplayNameFor(model => model.Sections)
						</dt>
						<dd>
							@foreach (var item in Model.Sections)
							{
								<span>@item.Number</span><br />
							}
						</dd>
						<dt>
							@Html.DisplayNameFor(model => model.Questions)
						</dt>
						<dd>
							@Html.DisplayFor(model => model.Questions)
						</dd>
					</dl>
					@Html.ActionLink("Editar", "Edit", new { id = Model.Id }, new { @class = "btn btn-primary" })
					@Html.ActionLink("Volver al índice", "Index", null, new { @class = "btn btn-white" })

				</div>
			</div>
		</div>
	</div>
</div>