<nav class="navbar-default navbar-static-side" role="navigation">
	<div class="sidebar-collapse">
		<ul class="nav" id="side-menu">
			<li class="nav-header">
				<div class="dropdown profile-element">
					<a data-toggle="dropdown" class="dropdown-toggle" href="#">
						<span class="clear">
							<span class="block m-t-xs">
								<strong class="font-bold"></strong>
							</span> <span class="text-muted text-xs block">Estudiante<b class="caret"></b></span>
						</span>
					</a>
					<ul class="dropdown-menu animated fadeInRight m-t-xs">
						<li><a href="@Url.Action("Edit", "Account", new { Id = ViewBag.User.Id })">Perfil</a></li>
						<li class="divider"></li>
						<li><a href="@Url.Action("LogOff", "Account")">Cerrar Sesión</a></li>
					</ul>
				</div>
				<div class="logo-element">
					<img width="30" src="@Url.Content("/Content/images/logo-box.png")" alt="logo-box" />
				</div>
			</li>
			<li class="@Html.IsSelected(controller: "Home")">
				<a href="@Url.Action("Index", "Home")">
					<i class="fa fa-home"></i>
					<span class="nav-label">Inicio</span>
				</a>
			</li>
			<li class="@Html.IsSelected(controller: "Simulations") @Html.IsSelected(controller: "Results")">
				<a href="@Url.Action("Orders", "Simulations")">
					<i class="fa fa-connectdevelop"></i>
					<span class="nav-label">Modelo de Gestión</span>
				</a>
			</li>
			<li class="@Html.IsSelected(controller: "Evaluations")">
				<a href="@Url.Action("Evaluations", "Evaluations")">
					<i class="fa fa-question-circle"></i>
					<span class="nav-label">Evaluaciones</span>
				</a>
			</li>
			<li class="@Html.IsSelected(controller: "Documents")">
				<a href="@Url.Action("IndexStudents", "Documents")">
					<i class="fa fa-folder-open"></i>
					<span class="nav-label">Documentos</span>
				</a>
			</li>
			<li class="@Html.IsSelected(controller: "Stadistics")">
				<a href="@Url.Action("StudentStadistics", "Sstadistics")">
					<i class="fa fa-bar-chart"></i>
					<span class="nav-label">Estadisticas</span>
				</a>
			</li>
		</ul>
	</div>
</nav>