@model IEnumerable<TeachLogistics.ViewModels.EvaluationStudentViewModel>
@{
	ViewBag.Title = "Índice";
}

<div class="row wrapper border-bottom white-bg page-heading">
	<div class="col-sm-4">
		<h2>Evaluaciones</h2>
		<ol class="breadcrumb">
			<li class="active">
				<strong>Índice</strong>
			</li>
		</ol>
	</div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
	@Html.Flash()
	<div class="row">
		<div class="col-lg-12">
			<div class="ibox float-e-margins">
				<div class="ibox-title">
					<h5>Evaluaciones</h5>
				</div>
				<div class="ibox-content">
					<table id="evaluations" class="table table-striped table-bordered">
						<thead>
							<tr>
								<th>
									@Html.DisplayNameFor(model => model.QuizName)
								</th>
								<th>
									@Html.DisplayNameFor(model => model.QuestionNumbers)
								</th>
								<th>
									@Html.DisplayNameFor(model => model.LimitDate)
								</th>
								<th>
									@Html.DisplayNameFor(model => model.MinutesDuration)
								</th>
								<th>
									@Html.DisplayNameFor(model => model.TotalScore)
								</th>
								<th>
									@Html.DisplayNameFor(model => model.GotScore)
								</th>
								<th>
									@Html.DisplayNameFor(model => model.TakenDate)
								</th>
								<th>
									Acción
								</th>
							</tr>
						</thead>
						<tbody>
						@foreach (var item in Model)
						{
							<tr>
								<td>
									@Html.DisplayFor(modelItem => item.QuizName)
								</td>
								<td>
									@Html.DisplayFor(modelItem => item.QuestionNumbers)
								</td>
								<td>
									@item.LimitDate.ToString("dd/MM/yyyy")
								</td>
								<td>
									@item.MinutesDuration min
								</td>
								<td>
									@Html.DisplayFor(modelItem => item.TotalScore)
								</td>
								<td>
									@if (item.IsTaken)
									{									
										@Html.DisplayFor(modelItem => item.GotScore)
									}									
								</td>
								<td>
									@if (item.IsTaken)
									{
										@item.TakenDate.ToString("dd/MM/yyyy")									
									}
								</td>
								<td>
									@if (!item.IsTaken)
									{
										<button type="button" class="btn btn-primary btn-sm quizButton" data-toggle="modal" data-target="#quizModal" data-evaluation="@item.Id">Presentar Quiz</button>									
									}
									else
									{
										@Html.ActionLink("Revisar Quiz", "ReviewQuizStudent", new { id = item.Id }, new { @class = "btn btn-primary btn-sm" })									
									}							
								</td>
							</tr>
						}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
@{ Html.RenderPartial("_QuizConfirmation"); }
@section Scripts {
	@Scripts.Render("~/bundles/Evaluations/evaluations")
}