@model TeachLogistics.ViewModels.QuizViewModel
@section Styles{
	@Styles.Render("~/Content/plugins/iCheck/iCheckStyles")
}
@{
	ViewBag.Title = "Revisar";
}

<div class="row wrapper border-bottom white-bg page-heading">
	<div class="col-sm-4">
		<h2>Evaluaciones</h2>
		<ol class="breadcrumb">
			<li>
				@if (User.IsInRole("Administrador"))
				{				
					@Html.ActionLink("Índice", "Index")
				}
				else if (User.IsInRole("Estudiante"))
				{
					@Html.ActionLink("Índice", "Evaluations")
				}								
			</li>
			@if (User.IsInRole("Administrador"))
			{
				<li>			
					@Html.ActionLink("Calificaciones", "Califications", new { Id = Model.Id })
				</li>
			}
			<li class="active">
				<strong>Revisión de Quiz</strong>
			</li>
		</ol>
	</div>
	<div class="col-sm-8">
		<div class="title-action">
			@if(User.IsInRole("Administrador"))
			{			
				@Html.ActionLink("Volver a Calificaciones", "Califications", new { Id = Model.Id }, new { @class = "btn btn-primary" })
			}
			else if (User.IsInRole("Estudiante"))
			{
				@Html.ActionLink("Volver al Índice", "Evaluations", null, new { @class = "btn btn-primary" })
			}						
		</div>
	</div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
	@Html.Flash()
	<div class="row">
		<div class="col-lg-12">
			<div class="ibox float-e-margins">
				<div class="ibox-title">
					<h5>Revisión de Quiz</h5>
				</div>
				<div class="ibox-content">
					@if (User.IsInRole("Administrador"))
					{
						<dl class="dl-horizontal">
							<dt>
								@Html.DisplayNameFor(m => m.User.FirstName)
							</dt>
							<dd>
								@Html.DisplayFor(m => m.User.FirstName) @Html.DisplayFor(m => m.User.LastName)
							</dd>
							<dt>
								@Html.DisplayNameFor(m => m.User.IdCard)
							</dt>
							<dd>
								@Html.DisplayFor(m => m.User.IdCard)
							</dd>
							<dt>
								@Html.DisplayNameFor(m => m.User.Email)
							</dt>
							<dd>
								@Html.DisplayFor(m => m.User.Email)
							</dd>
						</dl>
						<hr />					
					}
					<div class="alert alert-info">
						<strong>@Html.DisplayNameFor(m => m.GotScore):</strong> @Html.DisplayFor(m => m.GotScore)
					</div>
					<dl class="dl-horizontal">
						<dt>
							@Html.DisplayNameFor(m => m.QuizName)
						</dt>
						<dd>
							@Html.DisplayFor(m => m.QuizName)
						</dd>
						<dt>
							@Html.DisplayNameFor(m => m.Score)
						</dt>
						<dd>
							@Html.DisplayFor(m => m.Score)
						</dd>
					</dl>
					<div class="form-horizontal">
						<hr />
						@Html.DisplayFor(m => m.Questions)
						@if (User.IsInRole("Administrador"))
						{				
							@Html.ActionLink("Volver", "Califications", new { Id = Model.Id }, new { @class = "btn btn-primary" })
						}
						else if (User.IsInRole("Estudiante"))
						{
							@Html.ActionLink("Volver", "Evaluations", null, new { @class = "btn btn-primary" })
						}		
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
@section Scripts {
	@Scripts.Render("~/plugins/iCheck")
	@Scripts.Render("~/bundles/Evaluations/review_quiz")
}