@model Tesis.InitialCharge

@{
    ViewBag.Title = "Details";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Details</h2>
        <ol class="breadcrumb">
            <li>
                @Html.ActionLink("List", "Index")
            </li>
            <li class="active">
                <strong>Details</strong>
            </li>
        </ol>
    </div>
</div>




<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Details InitialCharge</h5>
                </div>
                <div class="ibox-content">


				    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Demand)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Demand)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Stddev)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Stddev)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PreparationCost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PreparationCost)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AnnualMaintenanceCost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AnnualMaintenanceCost)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WeeklyMaintenanceCost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WeeklyMaintenanceCost)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PurchaseOrderRecharge)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PurchaseOrderRecharge)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CourierCharges)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CourierCharges)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PreparationTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PreparationTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FillTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FillTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DeliveryTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeliveryTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReplacementBatch)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReplacementBatch)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MinimunBatchReplacement)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MinimunBatchReplacement)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductQuaterlyCost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductQuaterlyCost)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RequestQuaterlyCost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RequestQuaterlyCost)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaintenanceQuaterlyCost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaintenanceQuaterlyCost)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalQuaterlyCost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalQuaterlyCost)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SecurityStock)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SecurityStock)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VariationCoefficient)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VariationCoefficient)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CycleTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CycleTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AverageStock)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AverageStock)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EOQ)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EOQ)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InitialStock)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InitialStock)
        </dd>

    </dl>


	    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-primary"})
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-white"})

                </div>
            </div>
        </div>
    </div>
 </div>













