@model Tesis.InitialCharge

@{
    ViewBag.Title = "Edit";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Edit</h2>
        <ol class="breadcrumb">
            <li>
                @Html.ActionLink("List", "Index")
            </li>
            <li class="active">
                <strong>Edit</strong>
            </li>
        </ol>
    </div>
    <div class="col-sm-8">
        <div class="title-action">
      @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-primary"})
        </div>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Edit InitialCharge</h5>
                </div>
                <div class="ibox-content">

        @using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">

        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.Demand, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Demand)
                @Html.ValidationMessageFor(model => model.Demand)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Stddev, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Stddev)
                @Html.ValidationMessageFor(model => model.Stddev)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Price, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Price)
                @Html.ValidationMessageFor(model => model.Price)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PreparationCost, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PreparationCost)
                @Html.ValidationMessageFor(model => model.PreparationCost)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AnnualMaintenanceCost, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AnnualMaintenanceCost)
                @Html.ValidationMessageFor(model => model.AnnualMaintenanceCost)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.WeeklyMaintenanceCost, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.WeeklyMaintenanceCost)
                @Html.ValidationMessageFor(model => model.WeeklyMaintenanceCost)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PurchaseOrderRecharge, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PurchaseOrderRecharge)
                @Html.ValidationMessageFor(model => model.PurchaseOrderRecharge)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CourierCharges, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CourierCharges)
                @Html.ValidationMessageFor(model => model.CourierCharges)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PreparationTime, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PreparationTime)
                @Html.ValidationMessageFor(model => model.PreparationTime)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FillTime, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FillTime)
                @Html.ValidationMessageFor(model => model.FillTime)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DeliveryTime, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DeliveryTime)
                @Html.ValidationMessageFor(model => model.DeliveryTime)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TotalTime, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TotalTime)
                @Html.ValidationMessageFor(model => model.TotalTime)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ReplacementBatch, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ReplacementBatch)
                @Html.ValidationMessageFor(model => model.ReplacementBatch)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MinimunBatchReplacement, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MinimunBatchReplacement)
                @Html.ValidationMessageFor(model => model.MinimunBatchReplacement)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ProductQuaterlyCost, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ProductQuaterlyCost)
                @Html.ValidationMessageFor(model => model.ProductQuaterlyCost)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.RequestQuaterlyCost, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.RequestQuaterlyCost)
                @Html.ValidationMessageFor(model => model.RequestQuaterlyCost)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MaintenanceQuaterlyCost, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MaintenanceQuaterlyCost)
                @Html.ValidationMessageFor(model => model.MaintenanceQuaterlyCost)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TotalQuaterlyCost, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TotalQuaterlyCost)
                @Html.ValidationMessageFor(model => model.TotalQuaterlyCost)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SecurityStock, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SecurityStock)
                @Html.ValidationMessageFor(model => model.SecurityStock)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.VariationCoefficient, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.VariationCoefficient)
                @Html.ValidationMessageFor(model => model.VariationCoefficient)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CycleTime, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CycleTime)
                @Html.ValidationMessageFor(model => model.CycleTime)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AverageStock, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AverageStock)
                @Html.ValidationMessageFor(model => model.AverageStock)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EOQ, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EOQ)
                @Html.ValidationMessageFor(model => model.EOQ)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.InitialStock, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.InitialStock)
                @Html.ValidationMessageFor(model => model.InitialStock)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-primary" />
        @Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-white"})
            </div>
        </div>
    </div>
}


                </div>
            </div>
        </div>
    </div>
 </div>
