@model IEnumerable<TeachLogistics.Models.Question>
<dd>
	@foreach (var question in Model)
	{
		<dd>
		@question.QuestionText <br />
		@if (question.ImagePath != "")
		{
			<text>Imagen:</text><br />
			<img src="@Url.Content(question.ImagePath)" alt="image" width="200" /><br />
		}	
		Puntaje: @question.Score<br />
		@foreach (var option in question.Options)
		{
			if (option.IsCorrectOption)	{						
				<span style="color:green;"><strong>Opcion Correcta: </strong>@option.Option</span>
			} else {				
				<span style="color:red"><strong>Opcion Incorrecta: </strong>@option.Option</span>	
			}		
			<br />			
		}	
			<hr />
		</dd>
	}
	<hr>
</dd>