@model Tesis.Models.Group

@{
	ViewBag.Title = "Detalles";
}

<div class="row wrapper border-bottom white-bg page-heading">
	<div class="col-sm-4">
		<h2>Grupos</h2>
		<ol class="breadcrumb">
			<li>
				@Html.ActionLink("Índice", "Index")
			</li>
			<li class="active">
				<strong>Detalles</strong>
			</li>
		</ol>
	</div>
	<div class="col-sm-8">
		<div class="title-action">
			@Html.ActionLink("Volver al índice", "Index", null, new { @class = "btn btn-primary" })
		</div>
	</div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
	<div class="row">
		<div class="col-lg-12">
			<div class="ibox float-e-margins">
				<div class="ibox-title">
					<h5>Detalles del Grupo</h5>
				</div>
				<div class="ibox-content">
					<dl class="dl-horizontal">
						<dt>
							@Html.DisplayNameFor(model => model.Name)
						</dt>

						<dd>
							@Html.DisplayFor(model => model.Name)
						</dd>

						<dt>
							@Html.DisplayNameFor(model => model.Score)
						</dt>

						<dd>
							@Html.DisplayFor(model => model.Score)
						</dd>

						<dt>
							@Html.DisplayNameFor(model => model.Position)
						</dt>

						<dd>
							@Html.DisplayFor(model => model.Position)
						</dd>
						<dt>
							@Html.DisplayNameFor(model => model.Users)
						</dt>
						<dd>
						@foreach (var user in Model.Users)
						{
								<text>@user.FirstName @user.LastName - Email: <a href="mailto:@user.UserName">@user.UserName</text>@:</a><br />			
						}
						</dd>
					</dl>
					@Html.ActionLink("Editar", "Edit", new { id = Model.Id }, new { @class = "btn btn-primary" })
					@Html.ActionLink("Volver al Índice", "Index", null, new { @class = "btn btn-white" })
				</div>
			</div>
		</div>
	</div>
</div>












