@model IEnumerable<TeachLogistics.ViewModels.GroupDetailedResultViewModel>
@if (Model.Count() > 0)
{
	<table class="table table-hover table-bordered">
		<thead>
			<tr>
				<th>
					@Html.DisplayNameFor(model => model.PeriodNumber)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.FinalStockCost)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.UnsatisfiedDemandCost)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.TotalOrderCost)
				</th>
				<th>
					Acción
				</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var result in Model)
			{
				<tr>
					<td>
						@result.PeriodNumber
					</td>
					<td>
						@result.FinalStockCost.ToString("0.00")
					</td>
					<td>
						@result.UnsatisfiedDemandCost.ToString("0.00")
					</td>
					<td>
						@result.TotalOrderCost.ToString("0.00")
					</td>
					<td>
						@Html.ActionLink("Detalles", "Details", new { GroupId = ViewData["GroupId"], PeriodId = result.PeriodId }, new { @class = "btn btn-success btn-sm" })
					</td>
				</tr>
			}
		</tbody>
	</table>
}
else
{
	<div class="alert alert-warning" role="alert">
		No hay resultados para mostrar
	</div>
}