@model TeachLogistics.ViewModels.DetailedGroupResultViewModel
@{
	ViewBag.Title = "Resultados Detallados";
	var section = ViewBag.Section;
	var periodNumber = ViewBag.PeriodNumber;
	var group = ViewBag.Group;
}

<div class="row wrapper border-bottom white-bg page-heading">
	<div class="col-sm-4">
		<h2>Modelo de gestión</h2>
		<ol class="breadcrumb">
			<li>
				@Html.ActionLink("Resultados", "GroupResults", "Results")
			</li>
			<li class="active">
				<strong>Resultados Detallados</strong>
			</li>
		</ol>
	</div>
	<div class="col-sm-8">
		<div class="title-action">
			@Html.ActionLink("Volver a resultados", "GroupResults", "Results", null, new { @class = "btn btn-primary" })
		</div>
	</div>
</div>
<div class="row wrapper border-bottom white-bg page-heading">
	<div class="col-md-12">
		<label>Caso de Estudio: </label>
		<span>@(section.CaseStudy.Name)</span>
	</div>
	<div class="col-md-12">
		<label>Semestre: </label>
		<span>@(section.Semester.Description)</span>
	</div>
	<div class="col-md-12">
		<label>Section: </label>
		<span>@(section.Number)</span>
	</div>
</div>
<div class="row wrapper border-bottom white-bg page-heading">
	<div class="col-md-12">
		<label>Grupo: </label>
		<span>@(group.Name)</span>
	</div>
	<div class="col-md-12">
		<label>Periodo: </label>
		<span>@(periodNumber)</span>
	</div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
	@Html.Flash()
	<div class="row">
		<div class="col-lg-12">
			<div class="ibox float-e-margins">
				<div class="ibox-title">
					<h5>Resultados</h5>
				</div>
				<div class="ibox-content">
					@Html.DisplayFor(model => model.Results)
				</div>
			</div>
		</div>
	</div>
</div>
@section Scripts {
	@Scripts.Render("~/bundles/Results/details")
}