@model IEnumerable<TeachLogistics.ViewModels.GroupResultViewModel>
@{
	ViewBag.Title = "Resultados";
	var section = ViewBag.Section;	
}

<div class="row wrapper border-bottom white-bg page-heading">
	<div class="col-sm-4">
		<h2>Modelo de gestión</h2>
		<ol class="breadcrumb">
			<li>
				@Html.ActionLink("Índice", "Index", "Simulations")
			</li>
			<li class="active">
				<strong>Resultados</strong>
			</li>
		</ol>
	</div>
	<div class="col-sm-8">
		<div class="title-action">
			@Html.ActionLink("Volver al índice", "Index", "Simulations", null, new { @class = "btn btn-primary" })
		</div>
	</div>
</div>
<div class="row wrapper border-bottom white-bg page-heading">
	<div class="col-md-12">
		<label>Caso de Estudio: </label>
		<span>@(section.CaseStudy.Name)</span>
	</div>
	<div class="col-md-12">
		<label>Semestre: </label>
		<span>@(section.Semester.Description)</span>
	</div>
	<div class="col-md-12">
		<label>Section: </label>
		<span>@(section.Number)</span>
	</div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
	@Html.Flash()
	<div class="row">
		<div class="col-lg-12">
			<div class="ibox float-e-margins">
				<div class="ibox-title">
					<h5>Resultados</h5>
				</div>
				<div class="ibox-content">
					<div class="row">
						<div class="col-md-12 form-group">
							<div class="col-md-2">
								<label>Seleccione Grupo</label>
							</div>
							<div class="col-md-4">
								<select id="groups" class="form-control">
									@foreach (var group in Model)
									{
										<option value="@group.GroupId">@group.GroupName</option>
									}
								</select>
							</div>
						</div>
					</div>
					@foreach (var group in Model)
					{				
						<div class="row ibox-content groups" id="@group.GroupId" style="display:none">
							@{ Html.RenderPartial("_GroupResults", group.GroupDetailedResult, new ViewDataDictionary { {"GroupId", group.GroupId} }); }
						</div>
					}
				</div>
			</div>
		</div>
	</div>
</div>
@section Scripts {
	<script>
		var GroupId = "@ViewBag.GroupId";
	</script>
	@Scripts.Render("~/bundles/Results/index")
}