<nav class="navbar-default navbar-static-side" role="navigation">
	<div class="sidebar-collapse">
		<ul class="nav" id="side-menu">
			<li class="nav-header">
				<div class="dropdown profile-element">
					<a data-toggle="dropdown" class="dropdown-toggle" href="#">
						<span class="clear">
							<span class="block m-t-xs">
								<strong class="font-bold"></strong>
							</span> <span class="text-muted text-xs block">Profesor<b class="caret"></b></span>
						</span>
					</a>
					<ul class="dropdown-menu animated fadeInRight m-t-xs">
						<li><a href="@Url.Action("Edit", "Account", new { Id = ViewBag.User.Id })">Perfil</a></li>
						<li class="divider"></li>
						<li><a href="@Url.Action("LogOff", "Account")">Cerrar Sesión</a></li>
					</ul>
				</div>
				<div class="logo-element">
					<img width="30" src="@Url.Content("/Content/images/logo-box.png")" alt="logo-box" />
				</div>
			</li>
			<li class="@Html.IsSelected(controller: "Home")">
				<a href="@Url.Action("Index", "Home")">
					<i class="fa fa-home"></i>
					<span class="nav-label">Inicio</span>
				</a>
			</li>
			<li class="@Html.IsSelected(controller: "Account")">
				<a href="@Url.Action("Index", "Account")">
					<i class="fa fa-users"></i>
					<span class="nav-label">Usuarios</span>
				</a>
			</li>
			<li class="@Html.IsSelected(controller: "Semesters")">
				<a href="@Url.Action("Index", "Semesters")">
					<i class="fa fa-book"></i>
					<span class="nav-label">Semestres</span>
				</a>
			</li>
			<li class="@Html.IsSelected(controller: "Sections")">
				<a href="@Url.Action("Index", "Sections")">
					<i class="fa fa-bookmark"></i>
					<span class="nav-label">Secciones</span>
				</a>
			</li>
			<li class="@Html.IsSelected(controller: "Groups")">
				<a href="@Url.Action("Index", "Groups")">
					<i class="fa fa-user-plus"></i>
					<span class="nav-label">Grupos</span>
				</a>
			</li>
			<li class="@Html.IsSelected(controller: "Products")">
				<a href="@Url.Action("Index", "Products")">
					<i class="fa fa-shopping-cart"></i>
					<span class="nav-label">Productos</span>
				</a>
			</li>
			<li class="@Html.IsSelected(controller: "CaseStudies")">
				<a href="@Url.Action("Index", "CaseStudies")">
					<i class="fa fa-graduation-cap"></i>
					<span class="nav-label">Casos de Estudios</span>
				</a>
			</li>
			<li class="@Html.IsSelected(controller: "Simulations")">
				<a href="@Url.Action("Index", "Simulations")">
					<i class="fa fa-connectdevelop"></i>
					<span class="nav-label">Modelo de Gestión</span>
				</a>
			</li>
			<li class="@Html.IsSelected(controller: "Evaluations") @Html.IsSelected(controller: "Questions")">
				<a href="#"><i class="fa fa-question-circle"></i> <span class="nav-label">Evaluaciones</span><span class="fa arrow"></span></a>
				<ul class="nav nav-second-level">
					<li class="@Html.IsSelected(controller: "Evaluations")"><a href="@Url.Action("Index", "Evaluations")">Evaluaciones</a></li>
					<li class="@Html.IsSelected(controller: "Questions")"><a href="@Url.Action("Index", "Questions")">Preguntas</a></li>
				</ul>
			</li>
			<li class="@Html.IsSelected(controller: "Documents")">
				<a href="@Url.Action("Index", "Documents")">
					<i class="fa fa-folder-open"></i>
					<span class="nav-label">Documentos</span>
				</a>
			</li>
		</ul>
	</div>
</nav>