<!DOCTYPE html>
<html data-ng-app="tesis" lang="es">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>@ViewBag.Title - Tesis</title>
	@Styles.Render("~/Content/kendo")
	@Styles.Render("~/bundles/bootstrapStyles")
	@Styles.Render("~/Content/font-awesome")
	@Styles.Render("~/plugins/dataTablesStyles")
	@*<!-- Add local styles, mostly for plugins css file -->*@
	@if (IsSectionDefined("Styles"))
	{
		@RenderSection("Styles", required: false)
	}
	@Styles.Render("~/Content/css")
	@Scripts.Render("~/bundles/modernizr")
	@Scripts.Render("~/bundles/jquery")
</head>
<body>
	@*Skin configuration box*@
	@*@Html.Partial("_SkinConfig")*@
	@*<!-- Wrapper-->*@
	@*<!-- PageClass give you ability to specify custom style for specific view based on action -->*@
	<div id="wrapper" class="@Html.PageClass()">
		@*<!-- Navigation -->*@
		@if (User.IsInRole("Administrador")) {
			@Html.Partial("_AdminNavigation")
		}
		else if (User.IsInRole("Estudiante"))
		{
			@Html.Partial("_StudentNavigation")					
		}		
		@*<!-- Page wraper -->*@
		<div id="page-wrapper" class="gray-bg @ViewBag.SpecialClass">
			@*<!-- Top Navbar -->*@
			@Html.Partial("_TopNavbar")
			@*<!-- Main view  -->*@
			@RenderBody()
			@*<!-- Footer -->*@
			@Html.Partial("_Footer")
		</div>
		@*<!-- End page wrapper-->*@
	</div>
	@*<!-- End wrapper-->*@
	@*<!-- Section for main scripts render -->*@
	@Scripts.Render("~/bundles/kendo")
	@Scripts.Render("~/bundles/bootstrap")
	@Scripts.Render("~/plugins/metisMenu")
	@Scripts.Render("~/plugins/slimScroll")
	@Scripts.Render("~/bundles/inspinia")
	@Scripts.Render("~/plugins/pace")
	@Scripts.Render("~/plugins/dataTables")
	@Scripts.Render("~/bundles/jqueryval")
	@*<!-- Skin config script - only for demo purpose-->*@
	@*@Scripts.Render("~/bundles/skinConfig")*@
	<!-- Handler for local scripts -->
	@RenderSection("scripts", required: false)
	<script>
		kendo.culture("es-VE");
	</script>
</body>
</html>
